<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetEmpresa.CacheDataSource.Properties.Settings.gestorfotografoConnectionString"
            connectionString="server=192.168.0.14;user id=root;password=123456;persistsecurityinfo=True;database=gestorfotografo"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>