<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GestorConnection"
        connectionString="server=192.168.0.14;user id=root;password=123456;persistsecurityinfo=True;database=gestorfotografo"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>