@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/FrontPage/_LayoutFrontPage.cshtml";
}
@section featured {
   
}

<div class="inner cover">
    @*<h1 class="cover-heading">Bem vindo ao Mundo da Foto.</h1>*@
    <div class="jumbotron basecolor">
        <h2>Quero achar um Fotógrafo!</h2>
        <p class="lead">Procure por centenas de fotógrafos e veja seus porfólios Escolha o que mais se adapta ao trabalho e deixe que cuidamos do resto!</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Quero procurar um fotógrafo</a>
        </p>
    </div>
    
    <hr />

    <div class="jumbotron basecolor">
        <h2>Sou um fotógrafo!</h2>
        <p class="lead">Cadastre seu perfil e mostre seu trabalho para milhares de Clients todos os dias.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Sou um fotógrafo e quero cadastrar meu perfil</a>
        </p>
    </div>
    
</div>
